html * {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.sanan-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 171px;
  width: 180px;
}

.centered-paragraph {
  text-align: center
}

.centered-heading {
  text-align: center
}
